* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, san-serif;
  color: #2c2c2c;
  line-height: 1.27;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

:root {
  --grey-1000: #3d3c3c;
  --grey-900: #515151;
  --grey-800: #656565;
  --grey-700: #7a7a7a;
  --grey-600: #8e8e8e;
  --grey-500: #a3a3a3;
  --grey-400: #b7b7b7;
  --grey-300: #cbcbcb;
  --grey-200: #e0e0e0;
  --grey-100: #f4f4f4;
  --green-1000: #216000;
  --green-900: #2e8900;
  --green-800: #46b20f;
  --green-700: #63db25;
  --green-600: #81ff41;
  --green-500: #98ff64;
  --green-400: #aeff86;
  --green-300: #c5ffa8;
  --green-200: #dcffca;
  --green-100: #f2ffec;
  --orange-1000: #662400;
  --orange-900: #8e3300;
  --orange-800: #b74200;
  --orange-700: #e05000;
  --orange-600: #ff6916;
  --orange-500: #ff8440;
  --orange-400: #ff9f6a;
  --orange-300: #ffba94;
  --orange-200: #ffd5bd;
  --orange-100: #fff0e7;
  --main-color: var(--green-800);
  --content: #2c2c2c;
  --white: #fff;
  --max-width: 1440px;
}

body {
  font-family: "Inter", sans-serif;
}

.header__inner {
  display: flex;
  align-items: center;
}
.header__inner .nav {
  margin-left: auto;
}
.header__inner .nav .nav-list {
  display: flex;
}
.header__inner .nav .nav-list .nav-item {
  margin-right: 50px;
}
.header__inner .nav .nav-list .nav-item.active .nav-link {
  color: #46b20f;
}
.header__inner .header-action .header-icon:first-child {
  margin-right: 50px;
}

.section {
  width: 100vw;
  background: var(--Green-100, #f2ffec);
  padding: 5.75rem 0;
}
.section .section-title {
  color: var(--content, #2c2c2c);
  font-size: 4.3333rem;
  font-weight: 700;
}

.product__inner {
  padding-top: 10rem;
}
.product__inner .product__top-title {
  color: var(--content, #2c2c2c);
  font-size: 3.1667rem;
  font-weight: 800;
  line-height: 4.16; /* 4.1649rem */
  text-align: center;
}
.product__inner .product-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 11.59rem 12.97rem;
  margin-top: 5rem;
}
.product__inner .product-list .product-item {
  text-align: center;
  position: relative;
}
.product__inner .product-list .product-item::before {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  translate: -50%;
  content: "";
  width: 26.9316rem;
  height: 26.9316rem;
  border-radius: 50%;
  background: var(--orange-300, #ffba94);
}
.product__inner .product-list .product-item:nth-child(2)::before, .product__inner .product-list .product-item:nth-child(5)::before {
  background: var(--Green-300, #c5ffa8);
}
.product__inner .product-list .product-item .product__img {
  position: relative;
  margin-top: 11.46rem;
  width: 24rem;
  height: 24rem;
}
.product__inner .product-list .product-item .product-item__title {
  color: var(--content, #2c2c2c);
  font-size: 2.3333rem;
  font-weight: 700;
  margin-top: 1.72rem;
}
.product__inner .product-list .product-item .product-item__title::first-line {
  word-spacing: 999px;
}
.product__inner .product-list .product-item .product-item__desc {
  margin-top: 2.95rem;
  color: var(--Grey-800, #656565);
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 1.3; /* 130% */
}
.product__inner .product-list .product-item .product-item__price {
  margin-top: 0.63rem;
  color: var(--Content, #2c2c2c);
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 1.3; /* 130% */
}
.product__inner .product-list .product-item .product-item__price span {
  color: var(--Content, #2c2c2c);
  font-size: 2.3333rem;
  font-weight: 600;
  line-height: 2.6667rem;
}
.product__inner .product-list .product-item .product-item__btn {
  display: inline-block;
  margin-top: 1.09rem;
  padding: 1.33rem 1.17rem;
  border-radius: 0.6667rem;
  background: var(--green-800-main, #46b20f);
  color: var(--white, #fff);
  font-size: 1.6667rem;
  font-weight: 700;
  border: none;
}

/*# sourceMappingURL=styles.css.map */
