* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, san-serif;
  color: #2c2c2c;
  line-height: 1.27;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #46b20f;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
}

:root {
  --grey-1000: #3d3c3c;
  --grey-900: #515151;
  --grey-800: #656565;
  --grey-700: #7a7a7a;
  --grey-600: #8e8e8e;
  --grey-500: #a3a3a3;
  --grey-400: #b7b7b7;
  --grey-300: #cbcbcb;
  --grey-200: #e0e0e0;
  --grey-100: #f4f4f4;
  --green-1000: #216000;
  --green-900: #2e8900;
  --green-800: #46b20f;
  --green-700: #63db25;
  --green-600: #81ff41;
  --green-500: #98ff64;
  --green-400: #aeff86;
  --green-300: #c5ffa8;
  --green-200: #dcffca;
  --green-100: #f2ffec;
  --orange-1000: #662400;
  --orange-900: #8e3300;
  --orange-800: #b74200;
  --orange-700: #e05000;
  --orange-600: #ff6916;
  --orange-500: #ff8440;
  --orange-400: #ff9f6a;
  --orange-300: #ffba94;
  --orange-200: #ffd5bd;
  --orange-100: #fff0e7;
  --main-color: var(--green-800);
  --content: #2c2c2c;
  --white: #fff;
  --max-width: 1440px;
}

body {
  font-family: "Inter", sans-serif;
}

h2 {
  color: var(--content, #2c2c2c);
  font-size: 3.1667rem;
  font-weight: 800;
  line-height: 1.31; /* 4.1649rem */
}

p.desc {
  color: var(--content, #2c2c2c);
  font-size: 1.3333rem;
  font-weight: 400;
  line-height: 1.53; /* 153.125% */
}

.header {
  background: var(--white, #fff);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}

.header__inner {
  display: flex;
  align-items: center;
}
.header__inner .nav {
  margin-left: auto;
}
.header__inner .nav .nav-list {
  display: flex;
  margin-top: 30px;
}
.header__inner .nav .nav-list .nav-item {
  margin-right: 50px;
  position: relative;
}
.header__inner .nav .nav-list .nav-item.active .nav-link {
  color: #46b20f;
}
.header__inner .nav .nav-list .nav-item.active::before {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 1px;
  content: "";
  background: #46b20f;
  bottom: -3.47rem;
}
.header__inner .nav .nav-list .nav-item .nav-link {
  color: var(--content, #2c2c2c);
  font-size: 1.6667rem;
  font-weight: 600;
  line-height: 1.3; /* 130% */
}
.header__inner .header-action {
  margin-top: 30px;
}
.header__inner .header-action .header-icon:first-child {
  margin-right: 50px;
}
.header__inner .header-action .header-icon {
  cursor: pointer;
}

.section {
  width: 100vw;
  background: var(--Green-100, #f2ffec);
  padding: 5.75rem 0;
}
.section .section-title {
  color: var(--content, #2c2c2c);
  font-size: 4.3333rem;
  font-weight: 700;
}

.product__inner {
  width: 975px;
  padding-top: 10rem;
  margin: 0 auto;
}
.product__inner .product__top-title {
  color: var(--content, #2c2c2c);
  font-size: 3.1667rem;
  font-weight: 800;
  line-height: 4.16; /* 4.1649rem */
  text-align: center;
}
.product__inner .product-list {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 11.59rem 8.33rem;
  margin-top: 5rem;
}
.product__inner .product-list .product-item {
  text-align: center;
  position: relative;
}
.product__inner .product-list .product-item:nth-child(3) .product-item__title:first-line {
  word-spacing: 0;
}
.product__inner .product-list .product-item::before {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  translate: -50%;
  content: "";
  width: 26.9316rem;
  height: 26.9316rem;
  border-radius: 50%;
  background: var(--orange-300, #ffba94);
}
.product__inner .product-list .product-item:nth-child(2)::before, .product__inner .product-list .product-item:nth-child(5)::before {
  background: var(--Green-300, #c5ffa8);
}
.product__inner .product-list .product-item .product__img {
  position: relative;
  margin-top: 11.46rem;
  width: 24rem;
  height: 24rem;
}
.product__inner .product-list .product-item .product-item__title {
  color: var(--content, #2c2c2c);
  font-size: 2.3333rem;
  font-weight: 700;
  margin-top: 1.72rem;
  position: relative;
}
.product__inner .product-list .product-item .product-item__title::first-line {
  word-spacing: 999px;
}
.product__inner .product-list .product-item .product-item__title::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 4.0833rem;
  height: 1px;
  background: var(--grey-500-main, #a3a3a3);
  bottom: -1.29rem;
  left: 50%;
  translate: -50%;
}
.product__inner .product-list .product-item .product-item__desc {
  margin-top: 2.95rem;
  color: var(--Grey-800, #656565);
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 1.3; /* 130% */
}
.product__inner .product-list .product-item .product-item__price {
  margin-top: 0.63rem;
  color: var(--Content, #2c2c2c);
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 1.3; /* 130% */
}
.product__inner .product-list .product-item .product-item__price span {
  color: var(--Content, #2c2c2c);
  font-size: 2.3333rem;
  font-weight: 600;
  line-height: 2.6667rem;
}
.product__inner .product-list .product-item .product-item__btn {
  display: inline-block;
  margin-top: 1.09rem;
  padding: 1.33rem 1.17rem;
  border-radius: 0.6667rem;
  background: var(--green-800-main, #46b20f);
  color: var(--white, #fff);
  font-size: 1.6667rem;
  font-weight: 700;
  border: none;
}

.about__inner {
  margin-top: 12.88rem;
  display: flex;
  align-items: center;
  column-gap: 3.52rem;
}
.about__inner .about__content {
  position: relative;
  padding-left: 8.58rem;
  width: 54%;
}
.about__inner .about__content .about__title {
  position: relative;
  color: var(--content, #2c2c2c);
  font-size: 3.1667rem;
  font-weight: 800;
  line-height: 1.31; /* 4.1649rem */
}
.about__inner .about__content .about__desc {
  position: relative;
  width: 36.6667rem;
  margin-top: 1.52rem;
  color: var(--content, #2c2c2c);
  font-size: 1.3333rem;
  font-weight: 400;
  line-height: 1.53; /* 153.125% */
}
.about__inner .about__content .about__decor {
  position: absolute;
  left: 11px;
  top: -31px;
}
.about__inner .about__media .about__img {
  width: 100%;
}

.info {
  position: relative;
  margin-top: 10rem;
}

.info-bg {
  position: absolute;
  display: block;
  width: 100vw;
  height: 36.0833rem;
  border-radius: 0.8333rem;
  background: var(--orange-100, #fff0e7);
  left: 0;
  top: 32.67rem;
}

.info__inner {
  text-align: center;
}
.info__inner .info__title {
  color: var(--Content, #2c2c2c);
  font-size: 3.1667rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.31; /* 4.1649rem */
}
.info__inner .info__desc {
  margin-top: 2.43rem;
  color: var(--Content, #2c2c2c);
  font-size: 1.3333rem;
  font-weight: 400;
  line-height: 1.53; /* 153.125% */
}
.info__inner .info-list {
  position: relative;
  margin-top: 5rem;
  width: 108.75rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  column-gap: 2.5rem;
  margin: 5rem auto 0;
}
.info__inner .info-list .info__img {
  width: 100%;
  height: 19.5rem;
}
.info__inner .info-list .info-item {
  border-radius: 0.8333rem;
  background: var(--white, #fff);
}
.info__inner .info-list .info-item .info-item__inner {
  margin-top: 2.42rem;
  padding-left: 2.75rem;
  margin-bottom: 2.47rem;
  text-align: start;
}
.info__inner .info-list .info-item .info-item__inner .info-item__title {
  color: var(--orange-700, #e05000);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.info__inner .info-list .info-item .info-item__inner .info-item__desc {
  margin-top: 0.63rem;
  width: 23.1774rem;
  color: var(--content, #19191b);
  font-size: 1.3333rem;
  font-weight: 400;
  line-height: 1.53; /* 153.125% */
}
.info__inner .info-list .info-item:nth-child(2) .info-item__desc {
  width: 30rem;
}

.instruction {
  background: #fff;
  margin-top: 21.67rem;
}
.instruction .instruction__inner {
  text-align: center;
}
.instruction .instruction__inner .instruction__desc {
  width: 38rem;
  margin: 2.43rem auto 0;
}
.instruction .instruction__inner .instruction-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 3.83rem;
  margin-top: 6.15rem;
}
.instruction .instruction__inner .instruction-list .instruction-item {
  position: relative;
  display: flex;
  column-gap: 0.98rem;
}
.instruction .instruction__inner .instruction-list .instruction-item:before {
  position: absolute;
  content: "";
  top: 0;
  left: 3.92rem;
  width: 12.3333rem;
  height: 12.3333rem;
  border-radius: 50%;
  background: var(--orange-100, #fff0e7);
}
.instruction .instruction__inner .instruction-list .instruction-item .instruction-item__number {
  position: relative;
  color: transparent;
  -webkit-text-stroke: 2px var(--content);
  font-size: 8.3333rem;
  font-weight: 800;
}
.instruction .instruction__inner .instruction-list .instruction-item .instruction-item__desc {
  position: relative;
  margin-top: 2rem;
  width: 13.5rem;
  text-align: start;
  color: var(--content, #2c2c2c);
  font-size: 1.3333rem;
  font-weight: 400;
  line-height: 1.53; /* 153.125% */
}
.instruction .instruction__inner .instruction-list .instruction-item:first-child .instruction-item__desc {
  width: 15.4167rem;
}
.instruction .instruction__inner .instruction-more {
  margin-top: 10.33rem;
  display: flex;
  gap: 4.5rem;
  margin-left: 9rem;
}
.instruction .instruction__inner .instruction-more .instruction-more__content {
  position: relative;
  text-align: start;
  flex-shrink: 0;
  max-width: 65.5rem;
  height: fit-content;
  padding: 9.08rem 4.67rem 9.08rem 6.25rem;
  border-radius: 0rem 0.8333rem 0.8333rem 0rem;
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.1);
}
.instruction .instruction__inner .instruction-more .instruction-more__content:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0.833rem;
  height: 100%;
  border-radius: 0rem 0.8333rem 0.8333rem 0rem;
  background: var(--green-800-main, #46b20f);
}
.instruction .instruction__inner .instruction-more .instruction-more__content .instruction-more__desc {
  width: 54.4167rem;
  flex-grow: 1;
  color: var(--content, #2c2c2c);
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.54; /* 154.167% */
}
.instruction .instruction__inner .instruction-more .instruction__img-wrapper {
  flex-shrink: 0;
  width: 58.8333rem;
  height: 44.778rem;
  border-radius: 0.8333rem;
  margin-top: 3.58rem;
}
.instruction .instruction__inner .instruction-more .instruction__img-wrapper .instruction__img {
  width: 100%;
}

.rule {
  margin-top: 13.33rem;
  text-align: center;
}
.rule .rule-row {
  position: relative;
  display: flex;
  justify-content: center;
  column-gap: 5.08rem;
  margin-top: 11.6rem;
}
.rule .rule-row .rule-media {
  position: relative;
  width: 33%;
  flex-shrink: 0;
}
.rule .rule-row .rule-media .rule__img {
  width: 100%;
}
.rule .rule-row .rule__desc {
  position: relative;
  width: 45.4%;
  text-align: start;
}
.rule .rule-row::before {
  position: absolute;
  top: -6.67rem;
  left: 0;
  display: block;
  content: "";
  width: 140.5rem;
  height: 35.75rem;
  opacity: 0.5;
  background: var(--green-100, #f2ffec);
}
.rule .rule-row:last-child {
  flex-direction: row-reverse;
}
.rule .rule-row:last-child::before {
  left: auto;
  right: 0;
  background: var(--orange-100, #fff0e7);
}

/*# sourceMappingURL=styles.css.map */
