.form {
  margin-top: 13.3rem;

  &__inner {
    display: flex;
    column-gap: 15.25rem;
  }

  &__media {
    width: 38.4%;
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      right: -3.42rem;
      display: inline-block;
      content: "";
      width: 43.9167rem;
      height: 43.9167rem;
      border-radius: 50%;
      border-radius: 43.9167rem;
      background: var(--Orange-100, #fff0e7);
    }
  }

  &__img {
    position: relative;
    width: 200%;
  }

  &__action {
    // display: flex;
  }

  &__message {
    color: var(--content, #2c2c2c);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.33; /* 133.333% */
    margin-bottom: 2.6rem;
  }

  &__input {
    width: 100%;
    padding: 1.33rem;
    border-radius: 0.6667rem;
    border: 0.833px solid var(--grey-500-main, #a3a3a3);
    color: var(--grey-500-main, #a3a3a3);
    font-size: 1.6rem;
    font-weight: 400;
  }

  &-row {
    margin-top: 2.27rem;
    display: flex;
    column-gap: 1.75rem;
  }

  textarea {
    resize: none;
    padding-bottom: 11.67rem;
  }

  &__submit {
    display: block;
    width: 10.5rem;
    margin-top: 2.6rem;
    margin-left: auto;
    padding: 1.33rem 1.17rem;
    color: var(--white, #fff);
    text-align: center;
    font-size: 1.6667rem;
    font-weight: 700;
    border-radius: 0.6667rem;
    background: var(--green-800-main, #46b20f);
    border: none;
  }
}
