.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white, #fff);
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
}

.header__inner {
  display: flex;
  align-items: center;
  max-width: 100%;

  .nav {
    margin-left: auto;

    .nav-list {
      display: flex;
      margin-top: 30px;

      .nav-item {
        margin-right: 50px;
        position: relative;

        &.active .nav-link {
          color: $primaryColor;
        }

        &:hover .nav-link {
          color: $primaryColor;
        }

        &.active::before,
        &:hover::before {
          position: absolute;
          display: inline-block;
          width: 100%;
          height: 1px;
          content: "";
          background: $primaryColor;
          bottom: -4rem;
        }

        .nav-link {
          color: var(--content, #2c2c2c);
          font-size: 1.6667rem;
          font-weight: 600;
          line-height: 1.3; /* 130% */
          padding-bottom: 4rem;
        }
      }
    }
  }

  .header-action {
    margin-top: 30px;

    .header-icon:first-child {
      margin-right: 50px;
    }

    span {
      display: inline-block;
      position: relative;
    }

    span::before {
      display: inline-block;
      position: absolute;
      top: -3px;
      left: 25px;
      content: "3";
      width: 1.33rem;
      height: 1.33rem;
      color: white;
      border-radius: 50%;
      background: var(--orange-700, #e05000);
      color: var(--White, #fff);
      font-family: inherit;
      font-size: 1.0833rem;
      font-weight: 500;
      line-height: 1.33rem; /* 188.462% */
      text-align: center;
    }

    .header-icon {
      cursor: pointer;
    }
  }

  .bars {
    display: none;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1399.98px) {
}

@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
    padding: 0 50px;
  }
}

@media screen and (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }

  .header {
    position: relative;

    .bars {
      display: flex;
    }

    .nav {
      display: none;
      position: absolute;
      z-index: 999;
      background: white;
      left: 0;
      right: 0;
      top: 0;
    }

    .nav-list {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
      padding-bottom: 30px;
    }

    .nav-item {
      width: 100%;
      text-align: center;
    }

    .active::before {
      display: none !important;
    }

    .nav-item:hover::before {
      display: none !important;
    }

    .nav-link {
      padding-bottom: 0 !important;
    }

    &__inner {
      justify-content: space-between;
    }

    .header-action {
      margin-top: 0;
    }

    .bg {
      position: fixed;
      z-index: 22;
      inset: 0;
      background: rgb(0, 0, 0, 0.5);
      visibility: hidden;
      opacity: 0;
    }

    .menu:checked ~ .nav {
      display: block;
    }

    .menu:checked ~ .bg {
      visibility: visible;
      opacity: 1;
    }
  }
}
