// rule
.rule {
  margin-top: 13.33rem;
  padding: 13.33rem 0;
  text-align: center;

  .rule-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3.88rem 5.25rem;

    .rule-item {
      display: flex;
      column-gap: 1.58rem;
      text-align: start;

      .rule-item__wrapper {
        display: inline-block;
        height: 5.5833rem;

        .rule-item__img {
          width: 100%;
        }
      }

      .rule-item__title {
        color: var(--content, #2c2c2c);
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.33; /* 133.333% */
      }

      .rule-item__desc {
        margin-top: 0.67rem;
        color: var(--content, #2c2c2c);
        font-size: 1.5rem;
        font-weight: 500;
        max-width: 21.6667rem;
        height: 9.75rem;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .rule-list {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 767.98px) {
  .rule {
    margin-top: 3rem;
    padding-top: 0;
  }

  .rule-list {
    grid-template-columns: 1fr !important;
  }

  .rule-item {
    margin: 0 auto;
  }
}

@media screen and (max-width: 575.98px) {
  .rule-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    text-align: center !important;
  }

  .rule-item__desc {
    max-width: 100%;
  }
}
